*{
  font-family: verdana;
}
.RM-txt {
  font-family: cursive;
  text-align: center;
}
.ctnf
{
  height: 100% !important;
}
body
{

  background-color: #0083C9;
  position: relative; /* to make footer in the bottom of the body*/
  padding: 0px;  /*footer heigh + 10px*/
  margin: 0;
}
.col-sm-10
{


  background-color: #fff;
}
.col-sm-2{
  background-color: #0083C9;
}

#Sidemenu h1
{
color: white;
font-size: 14px;
text-align: center;
}
#Sidemenu
{
background-color: #0083C9;

}
#Sidemenu a {
  color: #fff;
}

#Sidemenu .active a {
  color: #fff;
  background-color: #27AAE1;
  font-weight: bold;
}

#Sidemenu a:hover {
  color: #fff;
  background-color: #1ab394;
  font-weight: bold;
  display: block;
}

#logo {
  width: 80%;
}
